/* @import 'tailwindcss';
@import './form.css';
@import '../scss/button.scss'; */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Tus colores para que funcionen con dark: y light */
    --color-primary-500: #79899F;
    --color-turquoise-500: #40E0D0;
    --color-flamingo-500: #EF4444;
}

/* Opcional: transición suave para que no sea un golpe el cambio */
@layer base {
    [x-cloak] { display: none !important; }

    *, ::after, ::before {
        @apply transition-colors duration-300;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        -webkit-text-fill-color: #111827 !important;
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover,
    .dark input:-webkit-autofill:focus,
    .dark select:-webkit-autofill,
    .dark select:-webkit-autofill:hover,
    .dark select:-webkit-autofill:focus,
    .dark textarea:-webkit-autofill,
    .dark textarea:-webkit-autofill:hover,
    .dark textarea:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
        -webkit-text-fill-color: #ffffff !important;
    }
}
